@import "../../../../assets/styles/theme.scss";
    .filterSec {
      background: $color-white;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
      border: 1px solid #eaeaea;
      margin-bottom: 10px;
      padding-top: 15px;
      padding-bottom: 15px;
      .catListing{
        list-style: none;
        padding: 0;
        font-size: 13px;
        color: $color-black-medium;
        margin: 10px 0;
        li{
          margin-bottom: 5px;
          text-transform: capitalize;
          padding: 3px 0;
          &.active {
            background: $color-light-grey;
            cursor: default;
            font-weight: 500;
          }
        }
      }
    }
