<nav class="col-md-12 navbar navbar-expand-lg" *ngIf="categories">
  <div class="container">
    <div class="row">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="nav justify-content-center">
          <li class="nav-item" *ngFor="let cat of categories">
            <a class="nav-link" routerLink="products/{{cat.catName}}" routerLinkActive="active">{{cat.catDesc}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>