<div class="loader-bg" *ngIf="isLoading">
  <div class="loader"></div>
</div>

<div class="container" *ngIf="!isLoading">
  <div class="row" *ngIf="cartProducts.length > 0">
      <div class="col-12 col-md-7 col-lg-8 cart-details">
        <ecommerce-cart-details
        [custEmail]="custEmail"
        [cartProducts]="cartProducts"
        (isCartChanged)="cartChange($event)">
        </ecommerce-cart-details>
      </div>
      <div class="col-12 col-md-5 col-lg-4 price-details">
          <ecommerce-cart-price
          [productLen]="cartProducts.length"
          [totalPrice]="totalPrice"
          [totalDeliveryAmt]="totalDeliveryAmt"
          [totalPayableAmt]="totalPayableAmt"
          [currencyCode]="currencyCode">
          </ecommerce-cart-price>
      </div>
  </div>
  <div class="row">
  <div class="col-12 no-product text-center" *ngIf="cartProducts.length === 0">
    <img [src]="imgURL + nopic" alt="no product" class="img-thumbnail" />
    <h4>Opps sorry, Your cart is empty</h4>
  </div>
</div>
</div>