@import "../../../../assets/styles/theme.scss";
.product-box {
    background: $color-white;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .08);
    border: 1px solid #eaeaea;
    margin: 15px auto;
    padding: 30px 20px;
    ul {
        padding: 0;
        margin: 10px 0;
        list-style: none;
    }
    h3 {
        display: inline-block;
    }
    .quantity {
        font-size: 14px;
        display: inline-block;
        margin-top: 3px;
        margin-left: 10px;
        padding: 2px 10px;
        vertical-align: middle;
    }
    .btn {
        margin-right: 10px;
    }
    .btn:last-child {
        margin-right: 0;
    }
    .product-btn-group {
        margin-top: 15px;
    }
}