<div class="container wrapper">
  <div class="row">
    <!-- <div class="col-12 col-md-5">
      <img [src]="imgURL + checkPath(productDt.ProductPicUrl)" class="img-thumbnail" />
    </div>
    <div class="col-12 col-md-7">
      <h4>Product Name</h4>
      <div class="col-12 col-lg-6 col-md-5 col-sm-7">
        <h6>{{prodt.Name | truncate:20}}</h6>
        <p>
          <span class="rate">{{prodt.Price | currency:prodt.CurrencyCode }}</span>
        </p>
        <ul>
          <li>Category : {{prodt.Category}}</li>
          <li>Subcategory : {{prodt.SubCategory}}</li>
          <li>Supplier Name : {{prodt.SupplierName}}</li>
          <li>Weight : {{prodt.WeightMeasure + prodt.WeightUnit}}</li>
          <li>Date of Entry : {{prodt.DateOfEntry}}</li>
        </ul>
      </div>
      <div class="col-12 col-lg-3 col-md-3 col-sm-7">
        <button class="btn btn-warning btn-block">Add To Cart</button>
        <button class="btn btn-success btn-block">Buy Now</button>
      </div>
    </div> -->
  </div>
</div>
