/********************Color codes***********************/
$pagebg : #f1f3f6;
$color-white : #ffffff;
$color-grey : #cccccc;
$color-light-grey : #eeeeee;
$color-black : hsl(0, 0%, 0%);
$color-black-medium : #333333;
$color-grey-light : #eeeeee;
$color-blue : #2874f0;
$boder-color: #dddddd;
$color-red: #DD0000;


/********************Functions***********************/
// If the text size of body is 16 pixels, then 150% or 1.5 EM will be 24 pixels (1.5 * 16). 
@function convertEm($pixels){
    @return #{$pixels/16}em;
}


/********************Media Query***********************/
// Small tablets and large smartphones (landscape view)
$breakpoint-sm-min: 576px;

// Small tablets (portrait view)
$breakpoint-md-min: 768px;

// Tablets and small desktops
$breakpoint-lg-min: 992px;

// Large tablets and desktops
$breakpoint-xl-min: 1200px;

@media (min-width: $breakpoint-lg-min) {
  
}